.accordeon {

	&-item {
		margin-bottom: 5px;
		margin-top: 5px;

		&__title {
			position: relative;
			z-index: 0;
			cursor: pointer;
			box-sizing: border-box;
			padding: 15px 40px 15px 15px;
			background-color: $color-akcent3;
			line-height: 1.25;
			font-weight: bold;

			&::before {
				position: absolute;
				content: '';
				width: 25px;
				height: 25px;
				right: 12px;
				top: 12px;
				background-image: url('./../img/icons/down-arrow.svg');
				background-size: cover;
				z-index: 1;
			}
		}

		&__descr {
			padding: 15px 15px 15px;
		}
	}

}
