.action {
	padding-top: 0;
	padding-bottom: 0;
	background-color: #f1f1f1;

	.content {
		@include col();
		@include col-12();
	}
}

.action-container {
	// @include row-flex;
	// margin-top: 40px;
	position: relative;
	// background-image: url('../img/usl-01.jpg');
	background-color: $color-akcent;
	padding: 10px;
	box-sizing: border-box;
	border-radius: 8px;
	background-size: cover;
	background-position: center center;
}

.action-item {
	// @include col();
	// @include col-6();
	// @include col-md-4();
	// @include col-sm-6();
	// @include col-xs-12();
	// margin-bottom: 30px;
	position: relative;
	// background-color: $color-akcent;
	a {
		// display: block;
		position: relative;
		transition: .5s;
		&:hover h3 {
			color: $color-akcent;
		}
	}
	.btn {
		padding: 10px 20px;
		@include pix-to-rem(18px);
		margin-top: 15px;
		margin-bottom: 25px;
	}
	img {
		width: 100%;
		// opacity: 0;
	}
	.action-item-box {
		position: absolute;
		// background-color: rgba(#fff, 0.85);
		// bottom: 0;
		z-index: 5;
		max-width: 60%;
		padding-left: 15px;
		padding-right: 15px;
		box-sizing: border-box; // margin-top: -23px;
		top: 90%;
		left: 0;
		transform: translate(0, -100%);
		background-color: rgba($color-akcent, 0.9);
		color: #fff;
		// text-align: center;
		@media screen and (max-width: $break_md) {
			max-width: 80%;
			// bottom: 0;
		}
		@media screen and (max-width: $break_sm) {
			position: relative;
			bottom: inherit;
			max-width: 100%;
			transform: none;
			left: auto;
			top: auto;
		}
	}
	.action-title {
		// @include pix-to-rem(22px);
		// font-weight: bold;
		line-height: 1;
		transition: .5s;
		margin-bottom: 0;
		// margin-top: 25px;

		@media screen and (max-width: $break_sm) {
			margin-top: 0;
			padding-top: 15px;
		}
	}
	.action-descr {
		// margin-top: 10px;
		// @include pix-to-rem(14px);
		@media screen and (max-width: $break_sm) {
			margin-bottom: 0;
			padding-bottom: 15px;
		}
	}
}
