.hamburger {
    display: block;
    position: absolute;
    right: 30px;
    top: 30px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 33px;
    height: 33px;
    font-size: 0;
    text-indent: -9999px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
    z-index: 50;
    background-color: transparent;
    @media screen and (max-width: $break_sm) {
        top: 15px;
        right: 15px;
    }
    &:focus {
        outline: none;
    }
    & span {
        display: block;
        position: absolute;
        top: 15px;
        left: 0px;
        right: 0px;
        height: 3px;
        background: white;
        &::before,
        &::after {
            position: absolute;
            display: block;
            left: 0;
            width: 100%;
            height: 3px;
            background-color: #fff;
            content: "";
            transition-duration: 0.3s, 0.3s;
            transition-delay: 0.3s, 0;
        }
        &::before {
            top: -15px;
            transition-property: top, transform;
        }
        &::after {
            bottom: -15px;
            transition-property: bottom, transform;
        }
    }
    &.active {
        & span {
            background-color: transparent;
            &::before,
            &::after {
                transition-delay: 0, 0.3s;
            }
            &::before {
                transform: rotate(45deg);
                top: 0;
            }
            &::after {
                transform: rotate(-45deg);
                bottom: 0;
            }
        }
    }
}

.navigation {
    // position: fixed;
    position: absolute;
    background-color: #000;
    width: 100%; // height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    visibility: hidden;
    opacity: 0; // padding-bottom: 100px;
    box-sizing: border-box;
	transition: opacity .5s, visibility 0s .5s;
	@media screen and (max-width: $break_sm) {
		position: absolute;
		bottom: inherit;
	}
    &.active {
        opacity: .7;
        visibility: visible;
		transition: opacity .5s;
		@media screen and (max-width: $break_sm) {
			opacity: 1;
		}
    }
    .menu {
        text-align: center;
        padding: 0 50px;
        margin: 0;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        @media screen and (max-width: $break_sm) {
            // transform: translateY(-50%);
			transform: translateY(0%);
			top: 0px;
			padding: 50px;
        }
    }
    li {
        display: block;
        padding: 10px 0;
    }
    a {
        color: #ffffff;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
}