.header-vnutr {
	display: block;
	box-sizing: border-box;
	position: relative;
	background-color: $color-akcent5;
	background-image: url('../img/bg-header-vnutr.jpg');
	background-size: cover;
	background-position: center center;
	z-index: 1;
    padding-top: 75px;
    padding-bottom: 75px;
    overflow: hidden;

	&:after {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 2;
		background-color: rgba(38, 38, 38, 0.73);
		content: '';
	}

	a {
		text-decoration: none;
	}

	h1 {
		text-align: center;
		font-size: 42px;
		color: #fff;
		line-height: 1.2;
		width: 100%;
		margin: 0;
		padding: 0;
		z-index: 3;
        padding-left: 15px;
        padding-right: 15px;
        box-sizing: border-box;
        z-index: 5;
        position: relative;

        @media screen and (max-width: $break_sm) {
            font-size: 32px;
        }

		@media screen and (max-width: $break_xs) {
            font-size: 32px;
        }

		span {
			display: block;
			font-size: 70px;
			text-transform: uppercase;
			color:  $color-akcent;

            @media screen and (max-width: $break_sm) {
                font-size: 70px;
            }

			@media screen and (max-width: $break_xs) {
                font-size: 55px;
				line-height: 1.2;
				margin-bottom: 25px;
            }
		}
	}
}