/* ---------------------------------------------- /*
 * Общие стили сайта
/* ---------------------------------------------- */

// Убрать скролл для создания скриншота страницы

/* ::-webkit-scrollbar {
	width: 0px;
	background: transparent;
} */

body,
html {
	// height: 100%;
	margin: 0;
	background-color: #fff;
}

body {
	font-family: $font-default;
	font-size: $font-size-default;
	font-weight: 500;
	color: $color-default;
	color: $color-default;
	line-height: 1.5;
	position: relative;
	min-width: 300px;
	overflow-x: hidden;
	opacity: 1;

	@media screen and (max-width: $break_lg) {
		margin-top: 0;
		margin-bottom: 0;
	}

	@media screen and (max-width: $break_md) {
		padding-top: 0;
		padding-bottom: 0;
	}
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

.container {
	display: block;
	width: 100%;
	max-width: 1030px;
	margin-left: auto;
	margin-right: auto;
	// padding-bottom: 15px;
	box-sizing: border-box;
}

.bg-akcent {
	background-color: $color-akcent3;
}

.img-responsive {
	max-width: 100%;
	height: auto;
}

section {
	display: block;
	width: 100%;
	padding-top: 90px;
	padding-bottom: 90px;
}

.section {
	&-header {
		margin-top: 0;
		margin-bottom: 50px;
		line-height: 1.2;
		// text-align: center;
		// color: $color-akcent2;
		font-family: $font-akcent;
		@include pix-to-rem(46px);
		font-weight: bold;
		// text-transform: uppercase;

		@media screen and (max-width: $break_lg) {
			@include pix-to-rem(38px);
		}

		@media screen and (max-width: $break_md) {
			@include pix-to-rem(32px);
		}

		span {
			// color: $color-akcent;
			line-height: 1;
		}
	}

	&-descr {
		@include pix-to-rem(18px);
		margin-top: -25px;
		margin-bottom: 35px;
		text-align: center;
	}
}

.wrapper {
	@include wrapper();
	box-sizing: border-box;
	// background-color: red;
}

.wrapper-full {
	@include wrapper-full();
	background-color: $color-akcent4;
}

.row {
	@include row-flex();
}

a {
	color: $color-akcent;
	outline: none;
}

img {
	max-width: 100%;
	outline: 0;
	border: 0;
}

h1 {
	font-family: $font-akcent;
	@include pix-to-rem(32px);
	// text-align: center;
	//color: $color-akcent;
	font-weight: 600;
	line-height: 1.25;
	margin-top: 0px;
	margin-bottom: 25px;
	position: relative;
	z-index: 0;
	// border-bottom: 1px solid $color-akcent2;
	// padding-bottom: 10px;

	@media screen and (max-width: $break_sm) {
		@include pix-to-rem(20px);
	}
}

h2 {
	font-family: $font-akcent;
	@include pix-to-rem(22px);
	// color: $color-akcent;
	//color: #ff35c2;
	font-weight: 600;
	line-height: 1.25;
	margin-top: 25px;
	margin-bottom: 15px;
	position: relative;
	z-index: 0;
	// border-bottom: 1px solid $color-akcent2;
	// padding-bottom: 10px;

	@media screen and (max-width: $break_sm) {
		@include pix-to-rem(18px);
	}
}

h3 {
	font-family: $font-akcent;
	@include pix-to-rem(26px);
	// color: $color-akcent;
	//color: #ff35c2;
	font-weight: 600;
	line-height: 1.25;
	// border-bottom: 1px solid $color-akcent2;
	// padding-bottom: 10px;

	@media screen and (max-width: 1200px) {
		font-size: 22px;
	}

	@media screen and (max-width: 768px) {
		font-size: 20px;
	}
}

// ul:not([class]) {
// 	padding-left: 0px;

// 	li {
// 		margin: 15px 0;
// 		margin-left: 15px;
// 	}
// }

.block-header {
	position: relative;
	border: 0;
	padding-bottom: 25px;
	margin-top: 0;
	margin-bottom: 20px;
	color: $color-default;

	&::before {
		position: absolute;
		content: "";
		width: 50px;
		height: 1px;
		background-color: $color-akcent;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
	}
}

.hidden {
	display: none;
}

.text-center {
	text-align: center;
}

main {
	margin-top: 20px;
	margin-bottom: 45px;
	//padding: 25px 15px;
	padding-top: 25px;
	padding-bottom: 25px;
	box-sizing: border-box;

	@media screen and (max-width: $break_xs) {
		margin-top: 35px;
	}
}

.df {
	display: flex;
	flex-wrap: wrap;
}

.w50 {
	width: 50%;

	@media screen and (max-width: $break_sm) {
		width: 100%;
	}
}

.contacts {
	&-img {
		font-size: 0;

		img {
			width: 100%;
		}
	}

	&-map {
		@media screen and (max-width: $break_sm) {
			min-height: 300px;
		}
	}
}
.video_box {
	position: relative;
	width: 100%;
	height: auto;
	aspect-ratio: 16 / 9;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.mfp-content__wrapper {
	position: relative;
	max-width: 800px;
	margin: 20px auto;
	background: $color-white;
	box-shadow: 0px 0px 6px #2f2f2f;
	border-radius: 10px;

@media screen and (max-width: 480px) {
	margin: 20px 15px;
}

}
.get-code-window {
	position: relative;
	padding: 2em 3em;
	width: auto;

	@media screen and (max-width: 480px) {
		padding: 2em 15px;
	}
}

.white-popup-block {
	color: #fff;
}