/* ---------------------------------------------- /*
 * Стили меню
/* ---------------------------------------------- */

nav, .nav, #touch-menu {
    // background: $color-akcent;
    z-index: 1000 !important;
}

nav {
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
    margin: 0;
    margin-bottom: 20px;
    padding: 25px 0;
    z-index: 999;
    overflow: hidden;
    position: relative;

    @media screen and (max-width: $break_sm) {
        padding: 10px 0;
    }
}

.nav {
    padding: 0;
    margin: 0;

    & li {
        position: relative;
        display: block;
        z-index: 1001;
    }
}

.sticky-wrapper {
    margin-bottom: 20px;
}

.nav li a,
#touch-menu {
	display: block;
	padding: 5px 15px;
    text-transform: uppercase;
    text-decoration: none;
	font-weight: 100;
	font-size: 14px;
    // line-height: 20px;
	color: $primary-color;
    // letter-spacing: 1px;
    outline: 0;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    cursor: pointer;
}


.nav li a:hover,
.nav li.activ a,
#touch-menu:hover {
    // color: #fff;
    background-color: darken(#fff, 5%);
}

#touch-menu {
    display: none;
    border: 0;
    // border-bottom: 1px solid $bg3-color;
    font-weight: 100;
    // color: #fff;
    font-size: 16px;
    letter-spacing: 3px;
    text-transform: uppercase;
    background-color: darken(#fff, 5%);
}

@media (max-width: $break_sm) {
	.nav {display: none;}
	.nav li {display: block;}
	.nav li a {
		// border-bottom: 1px solid lighten($color-akcent, 15%);
		// background: lighten($color-akcent, 3%);
	}
	#touch-menu {display: block;}
}