.post {
    &-box {
        margin-top: 35px;
        margin-bottom: 35px;
        padding: 15px 35px;
        border: 1px solid $color-akcent;
        border-radius: 4px;

        @media screen and (max-width: $break_sm) {
            padding: 15px 25px;
        }

        @media screen and (max-width: $break_xs) {
            padding: 10px 15px;
        }
    }

    &-item {
        display: block;
        margin: 15px 0;
        line-height: 1.25;

        // &:hover {
        //     color: $color-akcent5;
        //     transition: .25s;
        // }
    }
}
