.portfolio {
	.slick-slide img {
		width: auto;
	}

	&-item {
		position: relative;
		padding: 10px;
		box-sizing: border-box;

		a {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			position: relative;
			text-decoration: none;

			.portfolio-item__title {
				display: flex;
				flex-wrap: wrap;
				word-wrap: break-word;

				padding: 15px;
				@include pix-to-rem(14px);
				color: $color-default;
				text-align: center;
				text-decoration: none;

				z-index: 5;
				transition: 0.5s;
			}
		}

		img {
			height: 350px;
			width: auto;
			display: block;
			z-index: 1;
			box-shadow: 0px 0px 10px 0px rgb(31, 31, 31);

			@media screen and (max-width: $break_sm) {
				height: 300px;
			}

			@media screen and (max-width: $break_xs) {
				height: 250px;
			}
		}

		&__title {
			display: none;
		}
	}

    .slick-next {
		// right: -45px;
		background-color: $color-akcent;

		@media screen and (max-width: $break_md) {
			right: 0px;
		}

		@media screen and (max-width: 480px) {
			top: 100%;
			right: 50%;
			transform: translate(110%, 50%);
		}


	}

	.slick-prev {
		// left: -45px;
		background-color: $color-akcent;

		@media screen and (max-width: $break_md) {
			left: 0px;
		}

		@media screen and (max-width: 480px) {
			top: 100%;
			left: 50%;
			// transform: translateY(50%);
			transform: translate(-110%, 50%);
		}
	}

	.slick-dots li {
		margin: 0 4px;
	}

	.slick-dots li button:before {
		font-size: 0.7rem;
		opacity: 1;
		color: #292626;
	}

	.slick-dots li.slick-active button:before {
		opacity: 0.75;
		color: $color-akcent;
	}
}
