mixin accordeon-item(title, descr)
	.accordeon-item
		.accordeon-item__title #{title}
		.accordeon-item__descr #{descr}


.accordeon

	+accordeon-item(
		'2 года – не рано?',
		'Мы точно знаем, что основы физического, духовного и эстетического воспитания закладываются в самом раннем возрасте. На занятиях с малышами мы используем элементы игры, что позволяет им знакомиться с миром балета с интересом и удовольствием. В «Азбуке Балета» практикуется мягкий подход к обучению: мы никогда не повышаем голос на наших воспитанников, не наказываем их и не принуждаем к занятиям через «не хочу». Хотите убедиться в этом сами? Приходите на пробное занятие и познакомьтесь с миром балета уже сейчас!'
	)

	+accordeon-item(
		'Не сложно ли выносить нагрузки детям 2 лет?',
		'Занятия для малышей — это, прежде всего, игровые техники и знакомство с балетом. Никаких нагрузок, тяжелых упражнений и строгих преподавателей. Наша главная цель — побудить у малыша интерес к занятиям, а не достичь каких-то значительных успехов в этом возрасте.'
	)

	+accordeon-item(
		'Бывает ли такое, что вы отказываете детям в участии в выступлениях, если их уровень подготовки или природные данные недостаточно высокие?',
		'Нет. Мы проводим концерты, в которых участвуют ВСЕ без исключения воспитанники школы. Мы твердо убеждены, что талант есть в каждом ребенке, и ключевую роль играет правильный подход со стороны педагога.'
	)

	+accordeon-item(
		'Как долго длится занятие?',
		'40−90 минут, в зависимости от возраста учеников.'
	)

	+accordeon-item(
		'Можно ли мне прийти на занятия для взрослых, если я уже на пенсии?',
		'Да! Нужно! Мы подбираем программу упражнений, ориентируясь на ваши возможности. А еще — мы исполняем мечты! Обязательно приходите и попробуйте сами!'
	)

	//- .item
	//- 	.header Что делать, если уволили за прогул?
	//- 	.descr Если Вы хотите, чтобы Ваш сайт не просто занимал свою нишу в сети Интернет, но и хорошо воспринимался поисковыми системами, Вы можете прочитать рекомендации, которые дает Яндекс - «Чем отличается качественный сайт от некачественного с точки зрения Яндекса».
	//- 		a(href="#", title="title").redmore Подробнее

	//- .item
	//- 	.header Как получить гражданство РФ?
	//- 	.descr Если Вы хотите, чтобы Ваш сайт не просто занимал свою нишу в сети Интернет, но и хорошо воспринимался поисковыми системами, Вы можете прочитать рекомендации, которые дает Яндекс - «Чем отличается качественный сайт от некачественного с точки зрения Яндекса».
	//- 		a(href="#", title="title").redmore Подробнее

	//- .item
	//- 	.header Что делать, если коллекторы запугивают?
	//- 	.descr Если Вы хотите, чтобы Ваш сайт не просто занимал свою нишу в сети Интернет, но и хорошо воспринимался поисковыми системами, Вы можете прочитать рекомендации, которые дает Яндекс - «Чем отличается качественный сайт от некачественного с точки зрения Яндекса».
	//- 		a(href="#", title="title").redmore Подробнее
