//- section.action
//- 	.wrapper
//- 		.row
//- 			.content
//- 				h2.section-header.center
//- 					span Контакты
//- 				.row
//- 					.pr50


section.action
    .wrapper
        .row
            .content
                .action-container
                    .action-item.hh
                        img(src="img/usl-01.jpg", alt="")
                        .action-item-box
                            h3.action-title Акция!
                            p.action-descr с 01/09 до 21/09 при заказе услуги Маникюр с покрытием гель лаком + педикюр с покрытием гель лаком - укладка волос в подарок!

                    .action-item.hh
                        img(src="img/usl-02.jpg", alt="")
                        .action-item-box
                            h3.action-title Акция!
                            p.action-descr с 01/09 до 21/09 при заказе услуги Маникюр с покрытием гель лаком + педикюр с покрытием гель лаком - укладка волос в подарок!

                    .action-item.hh
                        img(src="img/usl-03.jpg", alt="")
                        .action-item-box
                            h3.action-title Акция!
                            p.action-descr с 01/09 до 21/09 при заказе услуги Маникюр с покрытием гель лаком + педикюр с покрытием гель лаком - укладка волос в подарок!