.accordeon#price
	.accordeon-item
		.accordeon-item-header Маникюр
		.accordeon-item-descr

			.usluga-item
				.usluga-text
					//- .usluga-title Классический маникюр без покрытия
					.usluga-decr Снятие лака, придание формы, обработка кутикулы, массаж рук с кремом.
				.usluga-price 700 руб
			.usluga-item
				.usluga-text
					//- .usluga-title Классический маникюр с покрытием
					.usluga-decr Снятие лака, придание формы, обработка кутикулы, массаж рук с кремом, покрытие лаком, верхнее покрытие.
				.usluga-price 1090 руб
			.usluga-item
				.usluga-text
					.usluga-title Европейский маникюр
					.usluga-decr Необрезной маникюр, снятие лака, придание формы, массаж рук кремом.
				.usluga-price 700 руб

			.usluga-item
				.usluga-text
					.usluga-title Европейский маникюр с покрытием
					.usluga-decr Необрезной маникюр, снятие лака, придание формы, покрытие лаком, верхнее покрытие, массаж рук кремом.
				.usluga-price 1090 руб
			.usluga-item
				.usluga-text
					.usluga-title Аппаратный маникюр
					.usluga-decr Снятие лака, придание формы, обработка кутикулы, массаж рук с кремом.
				.usluga-price 1140 руб
			.usluga-item
				.usluga-text
					.usluga-title Маникюр с покрытием гель лаком
					.usluga-decr (классический маникюр, включает покрытие гель-лаком)
				.usluga-price 1950 руб
			.usluga-item
				.usluga-text
					.usluga-title Маникюр с покрытием гель лаком French
					.usluga-decr Классический маникюр с покрытием гель-лаком French.
				.usluga-price 2150 руб
			.usluga-item
				.usluga-text
					.usluga-title Комбинированный маникюр без покрытия
					.usluga-decr Снятие лака, придание формы, обработка кутикулы с помощью аппарата и инструментов, массаж рук кремом.
				.usluga-price 900 руб
			.usluga-item
				.usluga-text
					.usluga-title Горячий маникюр с покрытием
					.usluga-decr Включает в себя витаминный лосьон для массажа, лечебное покрытие для ломких и сухих ногтей, витаминное масло для кутикулы.
				.usluga-price 1200 руб
			.usluga-item
				.usluga-text
					.usluga-title Витаминный маникюр с лечебным покрытием
					.usluga-decr Снятие лака, придание формы, обработка кутикулы с помощью аппарата и инструментов, массаж рук кремом.
				.usluga-price 1200 руб

	.accordeon-item
		.accordeon-item-header Маникюр
		.accordeon-item-descr

			.usluga-item
				.usluga-text
					.usluga-title Классический маникюр без покрытия
					.usluga-decr Снятие лака, придание формы, обработка кутикулы, массаж рук с кремом.
				.usluga-price 700 руб
			.usluga-item
				.usluga-text
					.usluga-title Классический маникюр с покрытием
					.usluga-decr Снятие лака, придание формы, обработка кутикулы, массаж рук с кремом, покрытие лаком, верхнее покрытие.
				.usluga-price 1090 руб
			.usluga-item
				.usluga-text
					.usluga-title Европейский маникюр
					.usluga-decr Необрезной маникюр, снятие лака, придание формы, массаж рук кремом.
				.usluga-price 700 руб

	.accordeon-item
		.accordeon-item-header Наращивание ногтей
		.accordeon-item-descr Описание 2

	.accordeon-item
		.accordeon-item-header Дополнительные услуги
		.accordeon-item-descr Описание 3

	.accordeon-item
		.accordeon-item-header Уходы для рук
		.accordeon-item-descr Описание 3

	.accordeon-item
		.accordeon-item-header Педикюр
		.accordeon-item-descr Описание 3

	.accordeon-item
		.accordeon-item-header Услуги стилиста
		.accordeon-item-descr Описание 3

//- .usluga-box
	.usluga-item
		.usluga-text
			.usluga-title Классический маникюр без покрытия
			.usluga-decr Снятие лака, придание формы, обработка кутикулы, массаж рук с кремом.
		.usluga-price 700 руб
	.usluga-item
		.usluga-text
			.usluga-title Классический маникюр без покрытия
			.usluga-decr Снятие лака, придание формы, обработка кутикулы, массаж рук с кремом.
		.usluga-price 700 руб
	.usluga-item
		.usluga-text
			.usluga-title Классический маникюр без покрытия
			.usluga-decr Снятие лака, придание формы, обработка кутикулы, массаж рук с кремом.
		.usluga-price 700 руб
	.usluga-item
		.usluga-text
			.usluga-title Классический маникюр без покрытия
			.usluga-decr Снятие лака, придание формы, обработка кутикулы, массаж рук с кремом.
		.usluga-price 700 руб
	.usluga-item
		.usluga-text
			.usluga-title Классический маникюр без покрытия
			.usluga-decr Снятие лака, придание формы, обработка кутикулы, массаж рук с кремом.
		.usluga-price 700 руб


//- .usluga-box#price

	.usluga-item
		.usluga-text
			.usluga-title Классический маникюр + Покрытие лаком
		.usluga-price 550 руб
	.usluga-item
		.usluga-text
			.usluga-title Снятие гель-лака + Классический маникюр + Покрытие лаком
		.usluga-price 650 руб

	.usluga-item
		.usluga-text
			.usluga-title Классический маникюр + Покрытие Vinylux
		.usluga-price 700 руб
	.usluga-item
		.usluga-text
			.usluga-title Снятие гель-лака + Классический маникюр + Покрытие Vinylux
		.usluga-price 800 руб

	.usluga-item
		.usluga-text
			.usluga-title Классический маникюр + Покрытие Shellac
		.usluga-price 1150 руб
	.usluga-item
		.usluga-text
			.usluga-title Снятие гель-лака + Классический маникюр + Покрытие Shellac
		.usluga-price 1250 руб

	.usluga-item
		.usluga-text
			.usluga-title Классический маникюр + Покрытие Shellac френч
		.usluga-price 1350 руб
	.usluga-item
		.usluga-text
			.usluga-title Снятие гель-лака + Классический маникюр + Покрытие Shellac френч
		.usluga-price 1450 руб

	.usluga-item
		.usluga-text
			.usluga-title SPA маникюр + Покрытие лаком
		.usluga-price 750 руб
	.usluga-item
		.usluga-text
			.usluga-title Снятие гель-лака + SPA маникюр + Покрытие лаком
		.usluga-price 850 руб

	.usluga-item
		.usluga-text
			.usluga-title SPA маникюр + Покрытие Vinylux
		.usluga-price 900 руб
	.usluga-item
		.usluga-text
			.usluga-title Снятие гель-лака + SPA маникюр + Покрытие Vinylux
		.usluga-price 1000 руб

	.usluga-item
		.usluga-text
			.usluga-title SPA маникюр + Покрытие Shellac
		.usluga-price 1350 руб
	.usluga-item
		.usluga-text
			.usluga-title Снятие гель-лака + SPA маникюр + Покрытие Shellac
		.usluga-price 1450 руб

	.usluga-item
		.usluga-text
			.usluga-title SPA маникюр + Покрытие Shellac френч
		.usluga-price 1550 руб
	.usluga-item
		.usluga-text
			.usluga-title Снятие гель-лака + SPA маникюр + Покрытие Shellac френч
		.usluga-price 1650 руб

	.usluga-item
		.usluga-text
			.usluga-title Классический маникюр
		.usluga-price 350 руб

	.usluga-item
		.usluga-text
			.usluga-title Европейский маникюр
		.usluga-price 350 руб

	.usluga-item
		.usluga-text
			.usluga-title SPA маникюр
		.usluga-price 550 руб

	.usluga-item
		.usluga-text
			.usluga-title Мужской маникюр
		.usluga-price 400 руб

	.usluga-item
		.usluga-text
			.usluga-title Дизайн одного ногтя
		.usluga-price 50-100 руб

	.usluga-item
		.usluga-text
			.usluga-title Покрытие Shellac
		.usluga-price 850 руб

	.usluga-item
		.usluga-text
			.usluga-title Покрытие Vinylux
		.usluga-price 400 руб

	.usluga-item
		.usluga-text
			.usluga-title Снятие гель-лака
		.usluga-price 200 руб

	.usluga-item
		.usluga-text
			.usluga-title Парафинотерапия
		.usluga-price 350 руб
