.aside-block
    .aside-block__title Сведения об образовательном учреждении
    nav
        ul.aside-block__menu
            li
                a(href="#") Основные сведения
            li
                a(href="#") Структура и органы управления
            li
                a(href="#") Документы
            li
                a(href="#") Образование
            li
                a(href="#") Образовательные стандарты
            li
                a(href="#") Руководство. Педагогический состав
            li
                a(href="#") Материально-техническое обеспечение и оснащенность
            li
                a(href="#") Платные образовательные услуги
            li
                a(href="#") Финансово-хозяйственная деятельность
            li
                a(href="#") Вакантные места для приема (перевода)
            li
                a(href="#") Государственная итоговая аттестация
            li
                a(href="#") Всероссийская олимпиада школьников
.aside-block
    .aside-block__title У нас на сайте
    nav
        ul.aside-block__menu
            li
                a(href="#") Доступная среда
            li
                a(href="#") ГОСУСЛУГИ
            li
                a(href="#") Воспитательная деятельность
            li
                a(href="#") Информация для родителей
            li
                a(href="#") Питание
            li
                a(href="#") Дистанционное обучение
            li
                a(href="#") Объявления
            li
                a(href="#") Безопасность ПДД