#background_cycler
  .img.active(style="background-image:url('img/slide-01.jpg')")
  .img(style="background-image:url('img/slide-02.jpg')")
  .img(style="background-image:url('img/slide-03.jpg')")
  //- .img(style="background:url('img/slide-04.jpg')")