.bigslider
    .bigslider-item(style="background-image: url('img/bigslider/bg-01.jpg');")
        .bigslider-box.wrapper
            h1.bigslider-header Прими участие в подготовке к съёмкам игрового фильма, в качестве актёра главной роли
            //- .bigslider-descr Пояснительный дополнительный текст к слайду на пару строк текста сжато по сути
            a.bigslider-btn.btn.popup_content(href='#zayavka') Оставить заявку

    .bigslider-item(style="background-image: url('img/bigslider/bg-02.jpg');")
        .bigslider-box.wrapper
            .bigslider-header Запишитесь на наши стартовые мини-курсы и познакомьтесь ближе с основами киноиндустрии
            //- .bigslider-descr Пояснительный дополнительный текст к слайду на пару строк текста сжато по сути
            a.bigslider-btn.btn.popup_content(href='#zayavka') Оставить заявку

    .bigslider-item(style="background-image: url('img/bigslider/bg-03.jpg');")
        .bigslider-box.wrapper
            .bigslider-header Актёрское мастерство, сценическая речь, сценическое движение, Снятие зажимов, работа перед камерой
            //- .bigslider-descr Пояснительный дополнительный текст к слайду на пару строк текста сжато по сути
            a.bigslider-btn.btn.popup_content(href='#zayavka') Оставить заявку

    .bigslider-item(style="background-image: url('img/bigslider/bg-04.jpg');")
        .bigslider-box.wrapper
            .bigslider-header Научим Вас говорить красиво и уверенно, как профессиональные ведущие, озвучивать фильмы, мультфильмы, рекламу
            //- .bigslider-descr Пояснительный дополнительный текст к слайду на пару строк текста сжато по сути
            a.bigslider-btn.btn.popup_content(href='#zayavka') Оставить заявку
