.bigslider
    .bigslider-item(style="background-image: url('img/bigslider/bg-01.jpg');")
        .bigslider-box.wrapper
            h1.bigslider-header Не поступил в театральный ВУЗ? Не теряй год -проведи время с пользой для себя!
            //- .bigslider-descr Пояснительный дополнительный текст к слайду на пару строк текста сжато по сути
            a.bigslider-btn.btn.popup_content(href='#zayavka') Оставить заявку

    .bigslider-item(style="background-image: url('img/bigslider/bg-02.jpg');")
        .bigslider-box.wrapper
            .bigslider-header Каждое публичное выступление вводит вас в ступор? Вы способны на большее, но из-за внутренних барьеров и страхов не можете показать себя на все 100%. Мы поможем ВАМ!
            //- .bigslider-descr Пояснительный дополнительный текст к слайду на пару строк текста сжато по сути
            a.bigslider-btn.btn.popup_content(href='#zayavka') Оставить заявку

    .bigslider-item(style="background-image: url('img/bigslider/bg-03.jpg');")
        .bigslider-box.wrapper
            .bigslider-header Собери актерское портфолио (Шоурил) из интересных работ!!! Лучше кастинг директору один раз увидеть, чем сто раз услышать из видеовизиток, правда?
            //- .bigslider-descr Пояснительный дополнительный текст к слайду на пару строк текста сжато по сути
            a.bigslider-btn.btn.popup_content(href='#zayavka') Оставить заявку

    .bigslider-item(style="background-image: url('img/bigslider/bg-04.jpg');")
        .bigslider-box.wrapper
            .bigslider-header Обрети команду единомышленников, стань частью творческой семьи!
            //- .bigslider-descr Пояснительный дополнительный текст к слайду на пару строк текста сжато по сути
            a.bigslider-btn.btn.popup_content(href='#zayavka') Оставить заявку
