.bookmarks
    .wrapper
        .bookmarks-box
            .bookmarks-item
                a(href="#", title="title").class
                    img(src="./../../img/bookmarks/bookmarks-01.jpg", alt="")
                    .bookmarks-title Запись в 1й класс
            .bookmarks-item
                a(href="#", title="title").class
                    img(src="./../../img/bookmarks/bookmarks-01.jpg", alt="")
                    .bookmarks-title Библиотека
            .bookmarks-item
                a(href="#", title="title").class
                    img(src="./../../img/bookmarks/bookmarks-01.jpg", alt="")
                    .bookmarks-title ЕГЭ
            .bookmarks-item
                a(href="#", title="title").class
                    img(src="./../../img/bookmarks/bookmarks-01.jpg", alt="")
                    .bookmarks-title Медалисты
            .bookmarks-item
                a(href="#", title="title").class
                    img(src="./../../img/bookmarks/bookmarks-01.jpg", alt="")
                    .bookmarks-title Расписание занятий
            .bookmarks-item
                a(href="#", title="title").class
                    img(src="./../../img/bookmarks/bookmarks-01.jpg", alt="")
                    .bookmarks-title Иностранные языки
            .bookmarks-item
                a(href="#", title="title").class
                    img(src="./../../img/bookmarks/bookmarks-01.jpg", alt="")
                    .bookmarks-title Внеклассная работа
            .bookmarks-item
                a(href="#", title="title").class
                    img(src="./../../img/bookmarks/bookmarks-01.jpg", alt="")
                    .bookmarks-title Школьный музей