h1 Наши новости

.news-box
	article.news-item
		a(href="#")
			img(src="./img/news/news-01.jpg", alt="").news-img
			.news-title Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные.
			span.news-date 11.01.2038
	article.news-item
		a(href="#")
			img(src="./img/news/news-01.jpg", alt="").news-img
			.news-title Заголовок первой новости
			span.news-date 11.01.2038
	article.news-item
		a(href="#")
			img(src="./img/news/news-01.jpg", alt="").news-img
			.news-title Заголовок первой новости
			span.news-date 11.01.2038
	article.news-item
		a(href="#")
			img(src="./img/news/news-01.jpg", alt="").news-img
			.news-title Заголовок первой новости
			span.news-date 11.01.2038
	article.news-item
		a(href="#")
			img(src="./img/news/news-01.jpg", alt="").news-img
			.news-title Заголовок первой новости
			span.news-date 11.01.2038
	article.news-item
		a(href="#")
			img(src="./img/news/news-01.jpg", alt="").news-img
			.news-title Заголовок первой новости
			span.news-date 11.01.2038
