h1 Пример страницы с постами

p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Которой моей пустился мир семь он своего послушавшись путь рыбного живет великий текст языкового пор эта, его то всеми переулка текстами выйти, деревни переписывается своих повстречался предупреждал приставка? На берегу силуэт коварный журчит собрал всеми использовало, выйти диких семь она меня.

.post-box
    a(href="#").post-item Первый заголовок
    a(href="#").post-item Второй заголовок
    a(href="#").post-item Третий заголовок
    a(href="#").post-item Четвертый заголовок
