h1 Страница отдельного товара

.content-katalog-item__box
	.content-katalog-item__boximg
		a(href="./../../img/katalog/001.jpg", title="title").popup
			img(src="./../../img/katalog/001.jpg", alt="").portfolioimg
		include ../includes/content-gallery-tovar

	.content-katalog-item__boxdescr
		span Цена:
		.content-katalog-item__price
			//- | 4 500 руб.
			.content-katalog-item__price-old 4 500 руб.
			.content-katalog-item__price-new 3 500 руб.
		.content-katalog-item__btn
			a(href="#zayavka", title="title").btn.popup_content Оставить заявку
		p Далеко-далеко за словесными горами в стране гласных, и согласных живут рыбные тексты. Парадигматическая текстами переписали заглавных она даль деревни рукописи сбить взобравшись снова силуэт пояс свой вопрос, над города назад знаках все буквоград образ ipsum, запятых толку дороге, подзаголовок большого эта!

		hr

		h2 Характеристики товара

		.characteristic-table
			.characteristic-row
				.characteristic-col.title Контроллер:
				.characteristic-col.descr Оригинальный контроллер заряда
			.characteristic-row
				.characteristic-col.title Совместимость:
				.characteristic-col.descr для iphone 5
			.characteristic-row
				.characteristic-col.title Тип батареи:
				.characteristic-col.descr литий-полимерный аккумулятор
			.characteristic-row
				.characteristic-col.title Емкость:
				.characteristic-col.descr 1440mah
			.characteristic-row
				.characteristic-col.title Напряжение:
				.characteristic-col.descr 3.82 - 4,35 Вольт
			.characteristic-row
				.characteristic-col.title Количество циклов заряда, разряда:
				.characteristic-col.descr более 550 раз
			.characteristic-row
				.characteristic-col.title Время зарядки:
				.characteristic-col.descr 1-3 часа
			.characteristic-row
				.characteristic-col.title Режим ожидания:
				.characteristic-col.descr 5 дней
			.characteristic-row
				.characteristic-col.title Защита:
				.characteristic-col.descr от перезаряда, разряда, короткого замыкания
			.characteristic-row
				.characteristic-col.title Рабочая Температура:
				.characteristic-col.descr Рабочая Температура (-20~50°C)
			.characteristic-row
				.characteristic-col.title Страна производитель:
				.characteristic-col.descr Китай

//-p Далеко-далеко за словесными горами в стране гласных, и согласных живут рыбные тексты. Парадигматическая текстами переписали заглавных она даль деревни рукописи сбить взобравшись снова силуэт пояс свой вопрос, над города назад знаках все буквоград образ ipsum, запятых толку дороге, подзаголовок большого эта! Правилами, подпоясал решила, текстов своего все даже выйти даль напоивший дал эта заманивший пор парадигматическая образ! Рукописи от всех деревни, это родного знаках моей реторический продолжил повстречался на берегу составитель вдали подзаголовок снова все переулка что коварных?

//-p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Великий что последний текстами своих свою безопасную. Текстами рекламных путь рыбного напоивший выйти силуэт речью предупредила, бросил наш своего, страна его если снова о раз однажды. Дороге снова текстов власти даже встретил переписывается осталось путь всемогущая эта.

//- .box-portfolioimg
	img(src="./../../img/kartiny/002.jpg", alt="").portfolioimg
