//- h1 Страница категории товаров в каталоге

.katalog-box

    .katalog-item
        a(href="#")
            img(src="./../../img/katalog/001.jpg", alt="").katalog-item__img
            .katalog-item__title Цветы в стекле
        //-.katalog-item__category Категория:
            a(href="#") Название категории
        .katalog-item__box
            .katalog-item__price 4 699 руб.
            //-.katalog-item__pricenew 3 000 руб.
        a(href="#").btn.katalog-item__readmore Подробнее

    .katalog-item
        a(href="#")
            img(src="./../../img/katalog/002.jpg", alt="").katalog-item__img
            .katalog-item__title Цветы в стекле
        //-.katalog-item__category Категория:
            a(href="#") Название категории
        .katalog-item__box
            .katalog-item__price.old 2 299 руб.
            .katalog-item__pricenew 2 000 руб.
        a(href="#").btn.katalog-item__readmore Подробнее

    .katalog-item
        a(href="#")
            img(src="./../../img/katalog/003.jpg", alt="").katalog-item__img
            .katalog-item__title Цветы в стекле
        //-.katalog-item__category Категория:
            a(href="#") Название категории
        .katalog-item__box
            .katalog-item__price.old 4 999 руб.
            .katalog-item__pricenew 3 000 руб.
        a(href="#").btn.katalog-item__readmore Подробнее

    .katalog-item
        a(href="#")
            img(src="./../../img/katalog/004.jpg", alt="").katalog-item__img
            .katalog-item__title Цветы в стекле
        //-.katalog-item__category Категория:
            a(href="#") Название категории
        .katalog-item__box
            .katalog-item__price.old 4 399 руб.
            .katalog-item__pricenew 3 500 руб.
        a(href="#").btn.katalog-item__readmore Подробнее

    .katalog-item
        a(href="#")
            img(src="./../../img/katalog/005.jpg", alt="").katalog-item__img
            .katalog-item__title Цветы в стекле
        //-.katalog-item__category Категория:
            a(href="#") Название категории
        .katalog-item__box
            .katalog-item__price.old 4 399 руб.
            .katalog-item__pricenew 3 000 руб.
        a(href="#").btn.katalog-item__readmore Подробнее

    .katalog-item
        a(href="#")
            img(src="./../../img/katalog/006.jpg", alt="").katalog-item__img
            .katalog-item__title Цветы в стекле
        //-.katalog-item__category Категория:
            a(href="#") Название категории
        .katalog-item__box
            .katalog-item__price.old 3 399 руб.
            .katalog-item__pricenew 3 000 руб.
        a(href="#").btn.katalog-item__readmore Подробнее

    .katalog-item
        a(href="#")
            img(src="./../../img/katalog/007.jpg", alt="").katalog-item__img
            .katalog-item__title Цветы в стекле
        //-.katalog-item__category Категория:
            a(href="#") Название категории
        .katalog-item__box
            .katalog-item__price.old 3 399 руб.
            .katalog-item__pricenew 3 000 руб.
        a(href="#").btn.katalog-item__readmore Подробнее

    .katalog-item
        a(href="#")
            img(src="./../../img/katalog/008.jpg", alt="").katalog-item__img
            .katalog-item__title Цветы в стекле. Бокал.
        //-.katalog-item__category Категория:
            a(href="#") Название категории
        .katalog-item__box
            .katalog-item__price.old 1 599 руб.
            .katalog-item__pricenew 1 200 руб.
        a(href="#").btn.katalog-item__readmore Подробнее

//- include ../includes/pagination
