h1 Пример страницы с таблицей

.scroll-wrapper
	.scroll-inner

.adaptive-table-wrapper
	table
		//- thead
			tr
				th Услуга
				th Описание
				th Цена
				th Скидка
				th Верстка под телефоны
				th Верстка под телефоны
				th Верстка под телефоны
		tbody
			tr
				td Мобильная верстка
				td Верстка под телефоны
				td $3000
				td 50%
				td Верстка под телефоны
				td Верстка под телефоны
				td Верстка под телефоны
			tr
				td Посадка на CMS WordPress
				td Создание сайта с админ. панелью
				td $3000
				td 30%
				td Верстка под телефоны
				td Верстка под телефоны
				td Верстка под телефоны
			tr
				td Мобильная верстка
				td Верстка под телефоны
				td $3000
				td 50%
				td Верстка под телефоны
				td Верстка под телефоны
				td Верстка под телефоны
			tr
				td Посадка на CMS WordPress
				td Создание сайта с админ. панелью
				td $3000
				td 30%
				td Верстка под телефоны
				td Верстка под телефоны
				td Верстка под телефоны
