section.contacts.zebra
	.wrapper
		.row
			.content
				h2.section-header.center Контакты
				p
					strong Адрес:&ensp;
					| г. Москва, Звенигородское шоссе, д. 3А, стр. 1
				p
					strong График работы:&ensp;
					| с понедельника по пятницу с 9:00 до 20:00
				p
					strong Тел:&ensp;
					| +7 (964) 518-49-73
				p
					strong E-mail:&ensp;
					| fotosalon1905@bk.ru
				.map