ul.gallery
	li.gallery-item
		a.popup(href='../../img/products/products-01.jpg', title='title')
			img.imggallery(src='../../img/products/products-01.jpg', alt='alt')
	li.gallery-item
		a.popup(href='../../img/products/products-02.jpg', title='title')
			img.imggallery(src='../../img/products/products-02.jpg', alt='alt')
	li.gallery-item
		a.popup(href='../../img/products/products-03.jpg', title='title')
			img.imggallery(src='../../img/products/products-03.jpg', alt='alt')
	li.gallery-item
		a.popup(href='../../img/products/products-04.jpg', title='title')
			img.imggallery(src='../../img/products/products-04.jpg', alt='alt')
	li.gallery-item
		a.popup(href='../../img/products/products-05.jpg', title='title')
			img.imggallery(src='../../img/products/products-05.jpg', alt='alt')
	li.gallery-item
		a.popup(href='../../img/products/products-06.jpg', title='title')
			img.imggallery(src='../../img/products/products-06.jpg', alt='alt')
	li.gallery-item
		a.popup(href='../../img/products/products-07.jpg', title='title')
			img.imggallery(src='../../img/products/products-07.jpg', alt='alt')
