footer
	//- a(href="#top" title="Наверх").arrow-top
	//- include ../includes/socbtn
	p «Little Fairies» - все права защищены © 2022
	//- img(src="img/statistic.jpg", alt="")
	//- p
		a(href="#", title="title") Политика конфиденциальности
	//- p.razr Создание сайта -&#32;
		a(href="#", title="title") Сайт-визитка
