section#gallery.gallery-slider
	.wrapper
		.row
			.content
				h2.section-header Фотогалерея

				ul.gallery
					li.gallery-item
						a.popup(href='./../../img/photo-01.jpg', title='title')
							img.imggallery(src='./../../img/photo-01.jpg', alt='alt')
					li.gallery-item
						a.popup(href='./../../img/photo-02.jpg', title='title')
							img.imggallery(src='./../../img/photo-02.jpg', alt='alt')
					li.gallery-item
						a.popup(href='./../../img/photo-03.jpg', title='title')
							img.imggallery(src='./../../img/photo-03.jpg', alt='alt')
					li.gallery-item
						a.popup(href='./../../img/photo-04.jpg', title='title')
							img.imggallery(src='./../../img/photo-04.jpg', alt='alt')
					li.gallery-item
						a.popup(href='./../../img/photo-05.jpg', title='title')
							img.imggallery(src='./../../img/photo-05.jpg', alt='alt')
					li.gallery-item
						a.popup(href='./../../img/photo-06.jpg', title='title')
							img.imggallery(src='./../../img/photo-06.jpg', alt='alt')
					li.gallery-item
						a.popup(href='./../../img/photo-07.jpg', title='title')
							img.imggallery(src='./../../img/photo-07.jpg', alt='alt')