button.hamburger
	span toggle menu
nav.navigation(role='navigation')
	ul.menu
		li
			a(href='#') Обо мне
		li
			a(href='#') Стоимость услуг
		li
			a(href='#') Семейная фотосъемка
		li
			a(href='#') Street Style
		li
			a(href='#') Студийная фотосъемка
		li
			a(href='#') Фотопроекты