header#header.header
	.wrapper
		a(href="#", title="title").header-logo
			.header-logo__img
				img(src="img/logo.jpg", alt="Free Film School")
			//- .header-logo__sitename
				span Школа детского балета<br> в г.Ростов-на-Дону

		.header-box-contacts
			.header-box-contacts__mail
				a(href="https://t.me/freefilmschool_rus", target="_blank") freefilmschool_rus
			.header-box-contacts__tel
				a(href="tel:+79250513867") +7 925 051 38 67
			//- .header-box-contacts__btn
				a.btn.popup_content(href='#zayavka') Обратная связь

			//- include ../includes/socbtn
