section.komanda.zebra
	.wrapper
		.row
			.content
				h2.section-header.center.text-center
					span Наша
					|  команда

				.komanda-slider

					.komanda-item
						img.komanda-img(src="img/komanda/001.jpg", alt="")
						span.komanda-name Николай Демидов
						p.komanda-descr Актер, певец, композитор, саунд-продюсер

					.komanda-item
						img.komanda-img(src="img/komanda/002.jpg", alt="")
						span.komanda-name Екатерина Кругленко
						p.komanda-descr Психолог

					.komanda-item
						img.komanda-img(src="img/komanda/003.jpg", alt="")
						span.komanda-name Юлия Цой
						p.komanda-descr Генеральный директор "АРЕНА КИНО"

					.komanda-item
						img.komanda-img(src="img/komanda/004.jpg", alt="")
						span.komanda-name Евгений Горман
						p.komanda-descr Кинорежиссер

					.komanda-item
						img.komanda-img(src="img/komanda/005.jpg", alt="")
						span.komanda-name Павел Люмин
						p.komanda-descr Продюсер

					.komanda-item
						img.komanda-img(src="img/komanda/006.jpg", alt="")
						span.komanda-name Михаил Смоляницкий
						p.komanda-descr Кинооператор-постановщик