section.lastvideo
	.wrapper
	.row
		.content
			h2.section-header
				span Последние
				|  видео
			.lastvideo-container
				.lastvideo-item
					a(class="magn-vimeo", href="https://vimeo.com/142376051")
						img(src="img/video-01.png", alt="")
						.play-bg
							.play-btn
						.lastvideo-item-box
							h3.lastvideo-title Ch.W. Gluck - Air
				.lastvideo-item
					a(class="magn-vimeo", href="https://vimeo.com/142376051")
						img(src="img/video-01.png", alt="")
						.play-bg
							.play-btn
						.lastvideo-item-box
							h3.lastvideo-title Ch.W. Gluck - Air
				.lastvideo-item
					a(class="magn-vimeo", href="https://vimeo.com/142376051")
						img(src="img/video-01.png", alt="")
						.play-bg
							.play-btn
						.lastvideo-item-box
							h3.lastvideo-title Ch.W. Gluck - Air
				.lastvideo-item
					a(class="magn-vimeo", href="https://vimeo.com/142376051")
						img(src="img/video-01.png", alt="")
						.play-bg
							.play-btn
						.lastvideo-item-box
							h3.lastvideo-title Ch.W. Gluck - Air
				.lastvideo-item
					a(class="magn-vimeo", href="https://vimeo.com/142376051")
						img(src="img/video-01.png", alt="")
						.play-bg
							.play-btn
						.lastvideo-item-box
							h3.lastvideo-title Ch.W. Gluck - Air
				.lastvideo-item
					a(class="magn-vimeo", href="https://vimeo.com/142376051")
						img(src="img/video-01.png", alt="")
						.play-bg
							.play-btn
						.lastvideo-item-box
							h3.lastvideo-title Ch.W. Gluck - Air
				.lastvideo-item
					a(class="magn-vimeo", href="https://vimeo.com/142376051")
						img(src="img/video-01.png", alt="")
						.play-bg
							.play-btn
						.lastvideo-item-box
							h3.lastvideo-title Ch.W. Gluck - Air
				.lastvideo-item
					a(class="magn-vimeo", href="https://vimeo.com/142376051")
						img(src="img/video-01.png", alt="")
						.play-bg
							.play-btn
						.lastvideo-item-box
							h3.lastvideo-title Ch.W. Gluck - Air

			a.btn.popup_content(href="#top-hidden") Все видео