//- Меню по услугам сайта http://advokat-katsanov.ru

nav.header-menu
	//- .wrapper
	.wrapper

		.touch-menu__box
			button#touch-menu.touch-menu Меню
		ul.tgnav
			//- li
				a(href='#header') Главная
			//-li
				a(href='#problems') Консультация астролога


			//- li.dropdown
				a(href='#').dropdown-toggle Услуги
				//- .dropdown-menu
				.dropdown-menu
					ul

						//- li.dropdown
							a(href='#').dropdown-toggle Сопровождение бизнеса
							.dropdown-menu
								ul
									li
										a(href="#") Создание ООО и ИП
									li
										a(href="#") Подготовка внутренней документации компании
									li
										a(href="#") Регистрация товарного знака
									li
										a(href="#") Договорная и претензионная работа
									li
										a(href="#") Устные и письменные консультации
									li
										a(href="#") Взыскание задолженностей с контрагентов

						//- li.dropdown
							a(href='#').dropdown-toggle Гражданские споры
							.dropdown-menu
								ul
									li
										a(href="#") Семейные споры
									li
										a(href="#") Наследственные споры
									li
										a(href="#") Жилищные споры
									li
										a(href="#") Дела по охране и защите интеллектуальной собственности

						//- li.dropdown
							a(href='#').dropdown-toggle Защита прав потребителей
							.dropdown-menu
								ul
									li
										a(href="#") Банковские споры
									li
										a(href="#") Страховые споры (ОСАГО, КАСКО)
									li
										a(href="#") Споры по договорам розничной купли-продажи и договорам оказания услуг
									li
										a(href="#") Споры с застройщиками
									li
										a(href="#") Защита прав потребителей в сфере оказания медицинских и косметических услуг


						li
							a(href="#") Защита по уголовным делам
						li
							a(href="#") Представительство в судах и других государственных органах
						li
							a(href="#") Налоговые споры
						li
							a(href="#") Трудовые споры
						li
							a(href="#") Международные споры
						li
							a(href="#") Уголовные дела
						li
							a(href="#") Выдача лицензий
						li
							a(href="#") Тендерное сопровождение

			//-li
				a(href='#') Цены

			//-li
				a(href='#services') Услуги
			li
				a(href='#about') О нас
			li
				a(href='#price') Группы
			li
				a(href='#advantages') Преимущества
			li
				a(href='#portfolio') Фото галерея
			li
				a(href='#otzyvy') Отзывы
			li
				a(href='#faq') Вопросы
			li
				a(href='#hero') Пробное занятие
			//- li
				a(href='#about') Новости
			li
				a(href='#contacts') Контакты
			//- li
			//-     a(href='#') Реклама в сети интернет
			//- li
			//-     a(href='#') Видео производство
			//- //- li
			//-     a(href='#') Производство рекламно-имиджевой продукции
			//- li
			//-     a(href='#') Медиа
			//- li
			//-     a(href='#') Маркетинг
			//- li
				a(href='#') Корпоративные и PR мероприятия
