h1 События
p  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Путь, речью большого семь, грамматики свой меня точках свою алфавит о толку всемогущая на берегу пунктуация над города буквоград раз дал агенство, они моей курсивных использовало.
h2 Анонсы

.post-items

	.post-item
		.post-item__img
			a.popup(href='../../img/photo-01.jpg')
				img(src='../../img/photo-01.jpg', alt='alt')
		.post-item__info
			span.post-date 15.08.2017
			a.post-item__title(href="#")
				h2 Цикл Клода Дебюсси "Bilitis" в исполнении Primavera
			p.post-item__descr Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Подпоясал, однажды. Последний, первую, текстов.
			a.post-item__more(href='sobytiya/cikl-kloda-debyussi-bilitis-v-isolnenii-primavera') Подробнее
	.post-item
		.post-item__img
			a.popup(href='../../img/photo-01.jpg')
				img(src='../../img/photo-01.jpg', alt='alt')
		.post-item__info
			span.post-date 15.08.2017
			a.post-item__title(href="#")
				h2 Цикл Клода Дебюсси "Bilitis" в исполнении Primavera
			p.post-item__descr Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Подпоясал, однажды. Последний, первую, текстов.
			a.post-item__more(href='sobytiya/cikl-kloda-debyussi-bilitis-v-isolnenii-primavera') Подробнее
	.post-item
		.post-item__img
			a.popup(href='../../img/photo-01.jpg')
				img(src='../../img/photo-01.jpg', alt='alt')
		.post-item__info
			span.post-date 15.08.2017
			a.post-item__title(href="#")
				h2 Цикл Клода Дебюсси "Bilitis" в исполнении Primavera
			p.post-item__descr Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Подпоясал, однажды. Последний, первую, текстов.
			a.post-item__more(href='sobytiya/cikl-kloda-debyussi-bilitis-v-isolnenii-primavera') Подробнее





h2 Прошедшие события
.post-items

	.post-item
			.post-item__img
				a.popup(href='../../img/photo-01.jpg')
					img(src='../../img/photo-01.jpg', alt='alt')
			.post-item__info
				span.post-date 15.08.2017
				a.post-item__title(href="#")
					h2 Цикл Клода Дебюсси "Bilitis" в исполнении Primavera
				p.post-item__descr Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Подпоясал, однажды. Последний, первую, текстов.
				a.post-item__more(href='sobytiya/cikl-kloda-debyussi-bilitis-v-isolnenii-primavera') Подробнее
	.post-item
			.post-item__img
				a.popup(href='../../img/photo-01.jpg')
					img(src='../../img/photo-01.jpg', alt='alt')
			.post-item__info
				span.post-date 15.08.2017
				a.post-item__title(href="#")
					h2 Цикл Клода Дебюсси "Bilitis" в исполнении Primavera
				p.post-item__descr Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Подпоясал, однажды. Последний, первую, текстов.
				a.post-item__more(href='sobytiya/cikl-kloda-debyussi-bilitis-v-isolnenii-primavera') Подробнее
	.post-item
			.post-item__img
				a.popup(href='../../img/photo-01.jpg')
					img(src='../../img/photo-01.jpg', alt='alt')
			.post-item__info
				span.post-date 15.08.2017
				a.post-item__title(href="#")
					h2 Цикл Клода Дебюсси "Bilitis" в исполнении Primavera
				p.post-item__descr Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Подпоясал, однажды. Последний, первую, текстов.
				a.post-item__more(href='sobytiya/cikl-kloda-debyussi-bilitis-v-isolnenii-primavera') Подробнее