mixin otzyvy-item(src, descr, title)
	.otzyvy-item
		.otzyvy-img
			img(src="img/otzyvy/"+src, alt="")
		.otzyvy-descr #{descr}
		span.otzyvy-name #{title}


section#otzyvy.otzyvy.bg-akcent
	.wrapper

		//-h2.section-header Отзывы клиентов
		h2.section-header Отзывы клиентов
		.otzyvy-slider

			+otzyvy-item(
				'01.png',
				'Сбылась моя давняя мечта))) вообще,одной из самых счастливых вещей,которые произошли со мной в этом году,можно объявить то,что я стала ходить в группу #балетдлявзрослых в @ballet64 и познакомилась с нашим самым-самым лучшим преподавателем Ну и пусть мне 31 год,и пусть я никогда раньше не занималась,главное,мне самой безумно нравится.',
				'Анна Смирнова - Посещает занятия балетом для взрослых',
			)

			+otzyvy-item(
				'02.png',
				'Вчера мы наслаждались красотой) Сидели в зале и наблюдали, как девочки занимаются балетом. Обычно мы видим их только на экране, ощущения совершенно другие. Улыбки не покидали наши лица. Это было трогательно и прекрасно. Мы не разу не пожалели, что полгода назад привели Алисоньку в этот зал.',
				'Людмила Андрущенко - Мама юной балерины',
			)

			+otzyvy-item(
				'03.png',
				'А я осуществила свою детскую мечту, нашла замечательную студию хореографии и каждый раз не терпится вновь прийти на занятия @ballet64 P.P.S. Взглянула как другие девушки фоткались, ну и я не выдержала, дай-ка тоже выпендрюсь а-ля я молодец, но вышло как-то... кхм-кхм короче заниматься и ещё раз заниматься.',
				'Евгения Мамулян - Посещает занятия балетом для взрослых',
			)

			+otzyvy-item(
				'04.png',
				'Правильные вещи в твоей жизни происходят как будто бы случайно Именно так мы и попали в балетную школу формата "хобби" Кто же мог знать, что за этой дверью нас ждет целая вселенная: Французские словечки, изящество жестов, красивая осанка, "Танец с саблями" из балета Гаяне в качестве мелодии на будильнике - Нам нравится это и мы продолжим. Спасибо вам, ребята!',
				'Софья Архангельская - Мама юной балерины',
			)


		//- <a class="btn" href="#">Все отзывы</a>
