section#katalog.katalog
    .wrapper
        h2.section-header Наши популярные товары
        .section-descr Все товары Вы можете найти в разделе сайта "Каталог товаров"
        include ../includes/content-katalog
        a.btn Смотреть весь каталог
