section#hero.hero
    .wrapper
        .hero-box
            h2.section-header Запишитесь на пробное занятие!
            .hero-descr У вас остались вопросы? Оставьте заявку, и мы проконсультируем вас по всем вопросам. Поможем подобрать возрастную категорию и формат занятий под ваши цели и желания.
            a.btn.popup_content(href="#zayavka") Оставить заявку
