section.request
    .wrapper
        h2.section-header Записаться на прием или задать вопрос
        p Есть вопросы? Задайте их нашему специалисту прямо сейчас!
        p Для этого оставьте заявку с интересующим вопросом, либо перезвоните нам по телефону
        p 8 (495) 920-22-26
        .text-center
            a.btn.popup_content(href='#zayavka3') Записаться на прием
            a.btn.popup_content(href='#zayavka2') Задать вопрос
