mixin price-item(src, title, descr)
	.price-item
		.price-item__img
			img(src="img/price/"+src, alt="")
		.price-item__box
			.price-item__title #{title}
			.price-item__descr #{descr}
			a.price-item__btn.btn.popup_content(href="#zayavka") Узнать больше




section#price.price
	.wrapper
		h2.section-header.text-center Курсы
		//- .section-descr В «Little Fairies» можно заниматься с любого возраста, любого уровня подготовки, с любыми физическими данными!
		.price-box

			+price-item(
				'01.jpg',
				'Актерский курс, группа «А»',
				'Занятия два раза в неделю, вторник с 19:00 до 22:00, среда с 18:00 до 20:00 + 2 раза в месяц мастер-классы по пятницам или воскресеньям (танцевальный мк, сцен.бой, работа с режиссёрами, пластика).'
			)

			+price-item(
				'02.jpg',
				'Актерский курс, группа «Б»',
				'Занятия два раза в неделю, среда с 20:00 до 22:00, четверг с 19:00 до 22:00 + 2 раза в месяц мастер-классы по пятницам или воскресеньям (танцевальный мк, сцен.бой, работа с режиссёрами, пластика). О всех предстоящих мастер-классах будем информировать заранее.'
			)

			+price-item(
				'03.jpg',
				'Режиссерский курс',
				'В киношколе FREE FILM SCHOOL открыт набор на режиссёрский курс! На курсе будет всего три ученика. Отбор проходит в формате общения с мастером.'
			)


