section#advantages.advantages.bg-akcent
    .wrapper
        h2.section-header Почему стоит выбрать нас?
        //- .section-descr Наши юристы помогут Вам в решении любых вопросов
        .advantages-box

            .advantages-item
                .advantages-item__img
                    img(src="img/advantages/01.svg", alt="")
                .advantages-item__box
                    //- .advantages-item__title Гармоничное развитие
                    .advantages-item__descr Наши проекты уже кружат голову многим зрителям и коллегам

            .advantages-item
                .advantages-item__img
                    img(src="img/advantages/02.svg", alt="")
                .advantages-item__box
                    //- .advantages-item__title Мягкая адаптация и дисциплина
                    .advantages-item__descr Ученики получают не только теорию, но и практику, обучение длится целых 9 месяцев.

            .advantages-item
                .advantages-item__img
                    img(src="img/advantages/03.svg", alt="")
                .advantages-item__box
                    //- .advantages-item__title Вы видите как занимается ребенок
                    .advantages-item__descr Ваш ребёнок многому научится и сможет не только поучаствовать в наших работах, но и собрать портфолио, чтобы показать себя на других проектах!

            .advantages-item
                .advantages-item__img
                    img(src="img/advantages/04.svg", alt="")
                .advantages-item__box
                    //- .advantages-item__title В группах максимум 12 человек
                    .advantages-item__descr Мы обеспечиваем индивидуальный подход и остаёмся на связи, поддерживая учеников даже после завершения курса.

            .advantages-item
                .advantages-item__img
                    img(src="img/advantages/05.svg", alt="")
                .advantages-item__box
                    //- .advantages-item__title Участие в спектаклях и конкурсах
                    .advantages-item__descr Мы прививаем не только уверенные знания, но и любовь к своему делу.

            .advantages-item
                .advantages-item__img
                    img(src="img/advantages/06.svg", alt="")
                .advantages-item__box
                    //- .advantages-item__title Профессиональные хореографы
                    .advantages-item__descr На наших уроках царит мир и гармония, все друг друга уважают и поддерживают.

