section#category.category
    .container
        h2.section-header У нас можно приобрести
        .category-wrapper
            .category-item
                .category-img
                    img(src="./../../img/category/01.jpg", alt="")
                .category-name UTP Кабеля и патчкорды 5 и 6 категории
                .category-descr 4-парные кабели для максимально быстрой передачи данных
                a.btn.popup_content(href='#zayavka') Оставить заявку

            .category-item
                .category-img
                    img(src="./../../img/category/02.jpg", alt="")
                .category-name Оптические кабеля и патчкорды
                .category-descr Оконцованы с обеих сторон оптическими коннекторами (ST, FC, LC, E2000, MT-RJ) для коммутации активного сетевого оборудования, кроссов и внутрикроссовых соединений
                a.btn.popup_content(href='#zayavka') Оставить заявку

            .category-item
                .category-img
                    img(src="./../../img/category/03.jpg", alt="")
                .category-name Пластиковые короба и кабельканалы
                .category-descr Большой выбор длины и сечения для проводки миниканалов в помещениях
                a.btn.popup_content(href='#zayavka') Оставить заявку

            .category-item
                .category-img
                    img(src="./../../img/category/04.jpg", alt="")
                .category-name Металлические кабельные лотки
                .category-descr Из оцинкованной стали и других типов покрытия для прокладки проводов и кабельных трасс при работе с открытой электропроводкой и прокладке кабельных линий
                a.btn.popup_content(href='#zayavka') Оставить заявку

            .category-item
                .category-img
                    img(src="./../../img/category/05.jpg", alt="")
                .category-name Серверные шкафы и стойки
                .category-descr Предназначены для установки коммутаторов, концентраторов, различных серверов, патч-панелей и источников бесперебойного питания
                a.btn.popup_content(href='#zayavka') Оставить заявку

            .category-item
                .category-img
                    img(src="./../../img/category/06.jpg", alt="")
                .category-name Источники бесперебойного питания
                .category-descr Обеспечат безопасную работу всей техники и электроприборов в случае скачков напряжения, а также при отключении электроэнергии
                a.btn.popup_content(href='#zayavka') Оставить заявку

            //- .category-item
            //-     .category-img
            //-         img(src="./../../img/category/07.jpg", alt="")
            //-     .category-name Автоматы
            //-     .category-descr Произведут разрыв электросети и защитят электроприборы и технику от коротких замыканий и перегрузки сети
            //-     a.btn.popup_content(href='#zayavka') Оставить заявку