section#certificate.certificate
    .wrapper
        h2.section-header Мои сертификаты
        .certificate-wrapper
            .certificate-item
                a(href="./../../img/certificate/01.jpg", title="title").popup
                    img(src="./../../img/certificate/01.jpg", alt="2alt")
            .certificate-item
                a(href="./../../img/certificate/02.jpg", title="title").popup
                    img(src="./../../img/certificate/02.jpg", alt="alt")
            .certificate-item
                a(href="./../../img/certificate/03.jpg", title="title").popup
                    img(src="./../../img/certificate/03.jpg", alt="alt")
            .certificate-item
                a(href="./../../img/certificate/04.jpg", title="title").popup
                    img(src="./../../img/certificate/04.jpg", alt="alt")
            .certificate-item
                a(href="./../../img/certificate/05.jpg", title="title").popup
                    img(src="./../../img/certificate/05.jpg", alt="alt")
            .certificate-item
                a(href="./../../img/certificate/06.jpg", title="title").popup
                    img(src="./../../img/certificate/06.jpg", alt="alt")
            .certificate-item
                a(href="./../../img/certificate/07.jpg", title="title").popup
                    img(src="./../../img/certificate/07.jpg", alt="alt")
            .certificate-item
                a(href="./../../img/certificate/08.jpg", title="title").popup
                    img(src="./../../img/certificate/08.jpg", alt="alt")
            .certificate-item
                a(href="./../../img/certificate/09.jpg", title="title").popup
                    img(src="./../../img/certificate/09.jpg", alt="alt")
            .certificate-item
                a(href="./../../img/certificate/10.jpg", title="title").popup
                    img(src="./../../img/certificate/10.jpg", alt="alt")
