section#pechat.pechat
    .wrapper
        .row
            .pechat-info
                h2.section-header Grafikdesign, Webdesign und
                    br
                    | Fotografie in Düsseldorf

                p Die Farbe Gelb steht für Kreativität, Optimismus und einen schnellen Verstand. Nicht ohne Grund ist dies unsere Hausfarbe, denn diese Eigenschaften spiegeln sich in unserer Arbeit wieder. Im Bereich Grafik- und Webdesign und Fotografie bringen wir Farbe in ihre Geschäftsideen. Ortsansässig in Düsseldorf und erfahren in Ethnomarketing arbeiten wir sehr kreativ und suchen stets nach der besten Lösung.
            .pechat-img
                img(src="./../../img/pechat.jpg", alt="")
