section#other.other
	.wrapper
		.other-box
			.other-item
				img(src="./../../img/other/01.jpg", alt="").other-item__img
				.other-item__title SOCIAL MEDIA
				.other-item__descr
					p Fast jeder ist registriert – ob bei Facebook, Twitter oder Instagram. Soziale Medien sind aus unserem heutigen Alltag nicht mehr wegzudenken und dienen deshalb als perfekte Marketing-Plattform.
					p Wir erstellen Ihnen an Ihr Corporate Design angepasste Social Media Seiten, z.B. bei Facebook oder Instagram.
					p Darüber hinaus kümmern wir uns um die regelmäßige Pflege und Werbeauftritte auf Ihrer Seite, um permanent präsent zu sein und mehr Likes und Follower zu gewinnen.
			.other-item
				img(src="./../../img/other/02.jpg", alt="").other-item__img
				.other-item__title ETHNO MARKETING
				.other-item__descr
					p Spezielle Zielgruppen brauchen spezielle Produkte. Darum kümmern wir uns um länderspezifische Bedürfnisse und deren kulturelle Design-Vorlieben.
					p Unsere Erfahrung reicht dabei deutschlandweit von kleinen bis hin zu großen Marken, die wir schon viele Jahre betreuen.
					p Auch für ausländische Firmen, die Ihre Produkte in Deutschland bekannt machen wollen, finden wir Werbe- und Marketingstrategien.
			.other-item
				img(src="./../../img/other/03.jpg", alt="").other-item__img
				.other-item__title INDIVIDUELLES PRODUKTDESIGN
				.other-item__descr
					p „Können wir nicht gibt es nicht!“
					p Sie haben einen individuellen Wunsch, was Design, Verpackung oder Format angeht? Kein Problem!
					p Wir sind zum Glück nicht standard – sondern lösungsorientiert und nehmen gern jede neue Herausforderung an – auch wenn sie noch so außergewöhnlich ist!
