section#portfolio.portfolio
	.wrapper
		h2.section-header Фото галерея


	.portfolio-box
		.portfolio-item
			a(class="popup", href="img/slider/01.jpg")
				img(src="img/slider/01.jpg", alt="")
				//- .portfolio-item__title Далеко-далеко, за словесными горами в стране гласных и согласных живут рыбные тексты. Все составитель своего дороге предупредила!
		.portfolio-item
			a(class="popup", href="img/slider/02.jpg")
				img(src="img/slider/02.jpg", alt="")
				//- .portfolio-item__title Фото №2
		.portfolio-item
			a(class="popup", href="img/slider/03.jpg")
				img(src="img/slider/03.jpg", alt="")
				//- .portfolio-item__title Фото №3
		.portfolio-item
			a(class="popup", href="img/slider/04.jpg")
				img(src="img/slider/04.jpg", alt="")
				//- .portfolio-item__title Фото №4
		.portfolio-item
			a(class="popup", href="img/slider/05.jpg")
				img(src="img/slider/05.jpg", alt="")
				//- .portfolio-item__title Фото №5
		.portfolio-item
			a(class="popup", href="img/slider/06.jpg")
				img(src="img/slider/06.jpg", alt="")
				//- .portfolio-item__title Фото №6
		.portfolio-item
			a(class="popup", href="img/slider/07.jpg")
				img(src="img/slider/07.jpg", alt="")
				//- .portfolio-item__title Фото №7
		.portfolio-item
			a(class="popup", href="img/slider/08.jpg")
				img(src="img/slider/08.jpg", alt="")
				//- .portfolio-item__title Фото №8
		.portfolio-item
			a(class="popup", href="img/slider/09.jpg")
				img(src="img/slider/09.jpg", alt="")
				//- .portfolio-item__title Фото №9
		.portfolio-item
			a(class="popup", href="img/slider/10.jpg")
				img(src="img/slider/10.jpg", alt="")
				//- .portfolio-item__title Фото №10
