section#price-table.price-table.bg-akcent
	.wrapper
		h2.section-header Стоимость работ
		//- .section-descr Мы поможем сделать Ваш бизнес успешным и процветающим
		.price-table__box

			.price-table__item
				.price-table__title
					a(href="#zayavka").popup_content Кладка блоков
				.price-table__price от 500 ₽ / м²

			.price-table__item
				.price-table__title
					a(href="#zayavka").popup_content Кладка газобетона
				.price-table__price от 400 ₽ / м²

			.price-table__item
				.price-table__title
					a(href="#zayavka").popup_content Кладка кирпича
				.price-table__price от 1 000 ₽ / м³

			.price-table__item
				.price-table__title
					a(href="#zayavka").popup_content Кладка пеноблоков
				.price-table__price от 800 ₽ / м³

			.price-table__item
				.price-table__title
					a(href="#zayavka").popup_content Кладка перегородок и внутренних стен из кирпича
				.price-table__price от 500 ₽ / м³

			.price-table__item
				.price-table__title
					a(href="#zayavka").popup_content Кладка перегородок из гипсовых блоков
				.price-table__price от 350 ₽ / м²

			.price-table__item
				.price-table__title
					a(href="#zayavka").popup_content Кладка перегородок из ПГП
				.price-table__price от 350 ₽ / м²

			.price-table__item
				.price-table__title
					a(href="#zayavka").popup_content Кладка шлакоблока
				.price-table__price от 350 ₽ / м²

			.price-table__item
				.price-table__title
					a(href="#zayavka").popup_content Облицовка керамическим кирпичом
				.price-table__price от 500 ₽ / м²

			.price-table__item
				.price-table__title
					a(href="#zayavka").popup_content Облицовка стен
				.price-table__price от 500 ₽ / м²

			.price-table__item
				.price-table__title
					a(href="#zayavka").popup_content Облицовка цоколя искусственным камнем
				.price-table__price от 600 ₽ / м²

			.price-table__item
				.price-table__title
					a(href="#zayavka").popup_content Расшивка швов кирпичной кладки
				.price-table__price от 100 ₽ / м²

			.price-table__item
				.price-table__title
					a(href="#zayavka").popup_content Устройство монолитных железобетонных конструкций
				.price-table__price от 1 000 ₽ / м³
