section#offer.offer
    .container
        .offer-box
            h1 Широкий ассортимент материалов и оборудования
                br
                | для структурированных кабельных сетей
                br
                | с доставкой по Актобе
            .offer-text Оставьте заявку, и в течение часа мы подготовим для Вас выгодное коммерческое предложение, исходя из Ваших пожеланий!
            a.btn.popup_content(href='#zayavka') Оставить заявку