section#about.about.bg-akcent
	.wrapper
		//- h1.section-header Интернет магазин 1-й спортивный - поставка качественного спортивного инвентаря на Российский рынок
		h2.section-header О нас

		//- figure.imgPost.left
			img(src='./../../img/about.jpg' alt='alt')
			figcaption Далеко-далеко за словесными горами в стране

		.about-box
			.about-img
				img(src='img/about.jpg' alt='alt')

			.about-info
				.about-info__box

					h3 Наша история начинается в 2020 году.
					p Изначально - это было небольшое творческое объединение ребят, у которых не получилось поступить в театральный. Чтобы не терять год, они совместно с Евгением Горман приняли решение создать такое замечательное место, в котором основной акцент был на практике, актëрских тренингах.
					p 28 учеников с горящими глазами и открытыми сердцами снимали свои работы на обычную фотокамеру.
					p Тогда у нас не было профессиональной кино техники, возможностей, но это была нереально теплая и творческая атмосфера - потому что все были в процессе, все горели и жили этим делом.
					p Сейчас многие из того самого первого набора крепко-накрепко заняли свои места в нашей профессии: кто-то в качестве актёра кино, театра, кто-то как режиссёр, сценарист, а некоторые из них в роли продюсера.
					p Прошло два года. И если раньше на каждое занятие мы снимали разные студии и создавали по 4-5 небольших проектов, то в 2022 году наши амбиции и голод значительно выросли (благодаря тому, что нас окружали такие чуткие верящие в свою мечту люди).
					p За учебный год 2022-2023 мы набрали более 70 учеников, отсняли 35 кинотестов, выпустили 5 художественных фильмов и 4 дипломных работы. Наши ученики в третьем наборе были абсолютно разные - как и по возрасту, так и по опыту, знаниям, но это не мешало нам творить, созидать, создавать, вдохновляться и развиваться.
					p Мы невероятно благодарны всем ученикам 2020-2024 года, ведь именно вы своими добрыми сердцами помогли нам поверить. Вы смотрели с нами в «одну сторону», были нашей мотивацией, путеводными звёздами, поэтому мы рискнули и сделали следующий шаг...
					p
						| Наша только начинается!
						br
						| Добро пожаловать в Киношколу Free Film School

				//- hr


				//- .about-number-box
					.about-number-item
						//- img(src="./../../img/icons/social/odnoklassniki.svg", alt="").about-number-img
						.about-number-title 23
						.about-number-text года деятельности в юридической сфере
					.about-number-item
						//- img(src="./../../img/icons/social/twitter.svg", alt="").about-number-img
						.about-number-title 6
						.about-number-text лет деятельности арбитражным управляющим
					.about-number-item
						//- img(src="./../../img/icons/social/youtube.svg", alt="").about-number-img
						.about-number-title 90
						.about-number-text процентов выигранных дел
					.about-number-item
						//- img(src="./../../img/icons/social/odnoklassniki.svg", alt="").about-number-img
						.about-number-title 15
						.about-number-text лучших специалистов
					.about-number-item
						//- img(src="./../../img/icons/social/twitter.svg", alt="").about-number-img
						.about-number-title 500
						.about-number-text Постоянных клиентов
					.about-number-item
						//- img(src="./../../img/icons/social/youtube.svg", alt="").about-number-img
						.about-number-title 5000
						.about-number-text Более 5000 разрешенных дел

		.video_box
			<iframe width="720" height="405" src="https://rutube.ru/play/embed/8ad3906cb305a78a779d24fb5ca21e7b/" frameBorder="0" allow="clipboard-write; autoplay" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

		a.btn.popup_content(href="#course_01") Open1
		a.btn.popup_content(href="#course_02") Open2
		a.btn.popup_content(href="#course_03") Open3

		.mfp-hide
			#course_01.mfp-content__wrapper
				.get-code-window
					h1 course_01 Далеко-далеко за словесными горами в стране гласных и согласных.
					p Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты. Злых дал мир лучше ручеек наш, о грустный последний это но там, моей вдали послушавшись.
					p Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты. Злых дал мир лучше ручеек наш, о грустный последний это но там, моей вдали послушавшись.
					p Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты. Злых дал мир лучше ручеек наш, о грустный последний это но там, моей вдали послушавшись.
					p Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты. Злых дал мир лучше ручеек наш, о грустный последний это но там, моей вдали послушавшись.
					p Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты. Злых дал мир лучше ручеек наш, о грустный последний это но там, моей вдали послушавшись.
					p Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты. Злых дал мир лучше ручеек наш, о грустный последний это но там, моей вдали послушавшись.
					p Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты. Злых дал мир лучше ручеек наш, о грустный последний это но там, моей вдали послушавшись.
					p Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты. Злых дал мир лучше ручеек наш, о грустный последний это но там, моей вдали послушавшись.
					p Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты. Злых дал мир лучше ручеек наш, о грустный последний это но там, моей вдали послушавшись.
					p Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты. Злых дал мир лучше ручеек наш, о грустный последний это но там, моей вдали послушавшись.
					p Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты. Злых дал мир лучше ручеек наш, о грустный последний это но там, моей вдали послушавшись.
					p Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты. Злых дал мир лучше ручеек наш, о грустный последний это но там, моей вдали послушавшись.
					p Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты. Злых дал мир лучше ручеек наш, о грустный последний это но там, моей вдали послушавшись.
					p Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты. Злых дал мир лучше ручеек наш, о грустный последний это но там, моей вдали послушавшись.
					p Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты. Злых дал мир лучше ручеек наш, о грустный последний это но там, моей вдали послушавшись.
					p Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты. Злых дал мир лучше ручеек наш, о грустный последний это но там, моей вдали послушавшись.

		.mfp-hide
			#course_02.mfp-content__wrapper
				.get-code-window
					h1 course_02 Далеко-далеко за словесными горами в стране гласных и согласных.
					p Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты. Злых дал мир лучше ручеек наш, о грустный последний это но там, моей вдали послушавшись.
					p Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты. Злых дал мир лучше ручеек наш, о грустный последний это но там, моей вдали послушавшись.
					p Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты. Злых дал мир лучше ручеек наш, о грустный последний это но там, моей вдали послушавшись.
					p Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты. Злых дал мир лучше ручеек наш, о грустный последний это но там, моей вдали послушавшись.
					p Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты. Злых дал мир лучше ручеек наш, о грустный последний это но там, моей вдали послушавшись.
					p Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты. Злых дал мир лучше ручеек наш, о грустный последний это но там, моей вдали послушавшись.
					p Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты. Злых дал мир лучше ручеек наш, о грустный последний это но там, моей вдали послушавшись.
					p Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты. Злых дал мир лучше ручеек наш, о грустный последний это но там, моей вдали послушавшись.
					p Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты. Злых дал мир лучше ручеек наш, о грустный последний это но там, моей вдали послушавшись.
					p Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты. Злых дал мир лучше ручеек наш, о грустный последний это но там, моей вдали послушавшись.
					p Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты. Злых дал мир лучше ручеек наш, о грустный последний это но там, моей вдали послушавшись.
					p Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты. Злых дал мир лучше ручеек наш, о грустный последний это но там, моей вдали послушавшись.
					p Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты. Злых дал мир лучше ручеек наш, о грустный последний это но там, моей вдали послушавшись.
					p Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты. Злых дал мир лучше ручеек наш, о грустный последний это но там, моей вдали послушавшись.
					p Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты. Злых дал мир лучше ручеек наш, о грустный последний это но там, моей вдали послушавшись.
					p Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты. Злых дал мир лучше ручеек наш, о грустный последний это но там, моей вдали послушавшись.

		.mfp-hide
			#course_03.mfp-content__wrapper
				.get-code-window
					h1 course_03 Далеко-далеко за словесными горами в стране гласных и согласных.
					p Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты. Злых дал мир лучше ручеек наш, о грустный последний это но там, моей вдали послушавшись.
					p Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты. Злых дал мир лучше ручеек наш, о грустный последний это но там, моей вдали послушавшись.
					p Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты. Злых дал мир лучше ручеек наш, о грустный последний это но там, моей вдали послушавшись.
					p Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты. Злых дал мир лучше ручеек наш, о грустный последний это но там, моей вдали послушавшись.
					p Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты. Злых дал мир лучше ручеек наш, о грустный последний это но там, моей вдали послушавшись.
					p Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты. Злых дал мир лучше ручеек наш, о грустный последний это но там, моей вдали послушавшись.
					p Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты. Злых дал мир лучше ручеек наш, о грустный последний это но там, моей вдали послушавшись.
					p Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты. Злых дал мир лучше ручеек наш, о грустный последний это но там, моей вдали послушавшись.
					p Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты. Злых дал мир лучше ручеек наш, о грустный последний это но там, моей вдали послушавшись.
					p Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты. Злых дал мир лучше ручеек наш, о грустный последний это но там, моей вдали послушавшись.
					p Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты. Злых дал мир лучше ручеек наш, о грустный последний это но там, моей вдали послушавшись.
					p Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты. Злых дал мир лучше ручеек наш, о грустный последний это но там, моей вдали послушавшись.
					p Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты. Злых дал мир лучше ручеек наш, о грустный последний это но там, моей вдали послушавшись.
					p Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты. Злых дал мир лучше ручеек наш, о грустный последний это но там, моей вдали послушавшись.
					p Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты. Злых дал мир лучше ручеек наш, о грустный последний это но там, моей вдали послушавшись.
					p Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты. Злых дал мир лучше ручеек наш, о грустный последний это но там, моей вдали послушавшись.
