section#advantages.advantages.bg-akcent
    .wrapper
        h2.section-header Почему нас выбирают?
        //- .section-descr Наши юристы помогут Вам в решении любых вопросов
        .advantages-box

            .advantages-item
                .advantages-item__img
                    img(src="img/advantages/01.svg", alt="")
                .advantages-item__box
                    .advantages-item__title Гармоничное развитие
                    .advantages-item__descr На занятиях мы прививаем чувство такта, учим грациозно владеть телом, ориентироваться в пространстве, работать у станка. Улучшаем гибкость, работаем над шагом, мы учим порядку, дисциплине и взаимоподдержке.

            .advantages-item
                .advantages-item__img
                    img(src="img/advantages/02.svg", alt="")
                .advantages-item__box
                    .advantages-item__title Мягкая адаптация и дисциплина
                    .advantages-item__descr Наши педагоги заинтересуют малыша и помогут ему адаптироваться к занятиям без стресса и переживаний. С понятием дисциплины дети тоже знакомятся мягко и ненавязчиво, осознавая её важность для достижения результата.

            .advantages-item
                .advantages-item__img
                    img(src="img/advantages/03.svg", alt="")
                .advantages-item__box
                    .advantages-item__title Вы видите как занимается ребенок
                    .advantages-item__descr Мы знаем: вам очень интересно взглянуть на то, как проходят занятия. Мы даем вам возможность наблюдать за занятием — зона ожидания оборудована экраном, на котором идет трансляция урока.

            .advantages-item
                .advantages-item__img
                    img(src="img/advantages/04.svg", alt="")
                .advantages-item__box
                    .advantages-item__title В группах максимум 12 человек
                    .advantages-item__descr Мы ЗА индивидуальный подход к обучению. В небольших группах педагог имеет возможность помочь, поправить, подсказать и научить каждого из наших деток.

            .advantages-item
                .advantages-item__img
                    img(src="img/advantages/05.svg", alt="")
                .advantages-item__box
                    .advantages-item__title Участие в спектаклях и конкурсах
                    .advantages-item__descr Выступать перед зрителями, показать любимым родителям, чему ты научился, почувствовать себя звездочкой на настоящей сцене — все это так любят дети! И мы даем им эту возможность!

            .advantages-item
                .advantages-item__img
                    img(src="img/advantages/06.svg", alt="")
                .advantages-item__box
                    .advantages-item__title Профессиональные хореографы
                    .advantages-item__descr Наши педагоги влюблены в балет и получают искреннее наслаждение от работы с детьми. Только такие люди могут увлечь, заинтересовать, научить и помочь ребятам подняться к самым вершинам!

            //- .advantages-item
                .advantages-item__img
                    img(src="img/advantages/07.svg", alt="")
                .advantages-item__box
                    .advantages-item__title Лучший фундамент для любых танцев в будущем
                    .advantages-item__descr Занятия развивают координацию, укрепляют мышечный скелет, формируют правильную осанку и прививают чувство ритма! Мы разбираем базовые элементы акробатики, улучшаем выносливость, учим правильно дышать во время физических упражнений, готовим стопы к пуантам.

            //- .advantages-item
                .advantages-item__img
                    img(src="img/advantages/08.svg", alt="")
                .advantages-item__box
                    .advantages-item__title Балет – это особенная волшебная атмосфера
                    .advantages-item__descr Плавные движения, грациозные па, классическая музыка, сказочные персонажи, удивительные сюжеты… Это не просто танец. Не просто музыка. И даже не просто искусство. Это — настоящее волшебство!
