section#contacts.contacts
	.wrapper
		//- h2.section-header Контакты
		//- .section-descr Работаем ежедневно: с 09-00 до 20-00
		.contacts-box
			.contacts-info
				.row
					.contacts-info__item.phone
						a(href="tel:+79633539045") +7 (863) 000-00-00
					.contacts-info__item.address Россия, Россия, г. Ростов-на-Дону, пр-т Космонавтов, д. 39/1, Торгово-офисный центр "Звёздный", офис 210
					.contacts-info__item.mail LittleFairies@gmail.com
					.contacts-info__item.clock Ежедневно: с 10.00 до 21.30

			//-.contacts-socbtn
				a(href="#", title="title").contacts-socbtn__item
					img(src="img/icons/social/instagram-white.svg", alt="")
				a(href="#", title="title").contacts-socbtn__item
					img(src="img/icons/social/vk-white.svg", alt="")
				a(href="#", title="title").contacts-socbtn__item
					img(src="img/icons/social/facebook-white.svg", alt="")
				a(href="#", title="title").contacts-socbtn__item
					img(src="img/icons/social/youtube-white.svg", alt="")
