section#about.about.bg-akcent
	.wrapper
		//- h1.section-header Интернет магазин 1-й спортивный - поставка качественного спортивного инвентаря на Российский рынок
		h2.section-header Коротко о нас

		//- figure.imgPost.left
			img(src='./../../img/about.jpg' alt='alt')
			figcaption Далеко-далеко за словесными горами в стране

		.about-box
			.about-img
				img(src='img/about.jpg' alt='alt')

			.about-info
				.about-info__box

					p Киношкола Free film school начала своё существование в 2020 году.


					h3 И с самого начала у Free film school было две важных цели::
					ol
						li Помочь абитуриентам познать свои настоящие желания, окунуть ребят в профессию и даже помочь поступить.
						li Сделать это бесплатно. Потому что мы хотим помогать людям, у которых открытые сердца и горящие глаза.
					p За первый год существования мы набрали 28 ребят и сняли 5 работ.
					p Прошло два года. И если раньше мы на каждое занятие снимали студии и разрабатывали примерно 5-6 небольших проектов, то сейчас наш голод растёт, наша жажда творить кружит головы. Такого ещё не было!
					p За последний год мы набрали более 70 учеников в группы под названиями "А", "В" и "С", отсняли 35 кинотестов, 5 художественных фильмов, выпустили 4 дипломных работы, творили в крутых помещениях и локациях.

					h3 Дальше - больше.
					p На новом курсе открывается группа "D" - детская Киношкола, которую будут вести опытные и при этом молодые преподаватели, которые всегда смогут найти общий язык с детьми.
					p Режиссёрская группа, где каждый автор сможет воплотить в жизнь свою историю и научится не только смотреть издалека, а действовать здесь и сейчас.
					p Отдельное направление для абитуриентов! Мы понимаем, как важно не терять год и предлагаем каждому окунуться в профессию уже сейчас.
					p С нами хотят сотрудничать другие школы актерского мастерства и мы движемся к этому в ответ.
					p Наша команда всегда разрабатывает самые интересные проекты, но не только интересные, а качественные.
					p И самое главное: мы были и остаёмся бесплатной киношколой. Единственные минимальные средства, которые мы берём с учеников - идут на оплату аренды классного помещения и на наши совместные проекты.
					p Мы рады каждому горящему сердцу, вступай в наши ряды, друг!

				//- hr


				//- .about-number-box
					.about-number-item
						//- img(src="./../../img/icons/social/odnoklassniki.svg", alt="").about-number-img
						.about-number-title 23
						.about-number-text года деятельности в юридической сфере
					.about-number-item
						//- img(src="./../../img/icons/social/twitter.svg", alt="").about-number-img
						.about-number-title 6
						.about-number-text лет деятельности арбитражным управляющим
					.about-number-item
						//- img(src="./../../img/icons/social/youtube.svg", alt="").about-number-img
						.about-number-title 90
						.about-number-text процентов выигранных дел
					.about-number-item
						//- img(src="./../../img/icons/social/odnoklassniki.svg", alt="").about-number-img
						.about-number-title 15
						.about-number-text лучших специалистов
					.about-number-item
						//- img(src="./../../img/icons/social/twitter.svg", alt="").about-number-img
						.about-number-title 500
						.about-number-text Постоянных клиентов
					.about-number-item
						//- img(src="./../../img/icons/social/youtube.svg", alt="").about-number-img
						.about-number-title 5000
						.about-number-text Более 5000 разрешенных дел
