.services-container
	.services-item
		a(href="#")
			img(src="img/usl-01.jpg", alt="")
			.services-title Доставка запчастей

	.services-item
		a(href="#")
			img(src="img/usl-02.jpg", alt="")
			.services-title Замена и установка запчастей на автосервисе
	.services-item
		a(href="#")
			img(src="img/usl-03.jpg", alt="")
			.services-title Заказ запчастей по предоплате

	.services-item
		a(href="#")
			img(src="img/usl-04.jpg", alt="")
			.services-title Отправка в регионы транспортной компанией