.services-block

    .services-item
        a(href="#")
            img(src="img/usl-01.jpg", alt="")
            .services-title Эстетика тела

    .services-item
        a(href="#")
            img(src="img/usl-02.jpg", alt="")
            .services-title Эстетика лица

    .services-item
        a(href="#")
            img(src="img/usl-03.jpg", alt="")
            .services-title Мануальная терапия

    .services-item
        a(href="#")
            img(src="img/usl-04.jpg", alt="")
            .services-title Маникюр и педикюр
