section.films.text-center.zebra
	.wrapper
		.row
			.content
				h2.section-header.center
					span Наши
					|  фильмы
				.lastvideo-container
					.lastvideo-item
						a.magn-vimeo(href="https://vimeo.com/142376051")
							img(src="../../img/film-01.jpg", alt="")
							.play-bg
								.play-btn
					.lastvideo-item
						a.magn-vimeo(href="https://vimeo.com/142376051")
							img(src="../../img/film-02.jpg", alt="")
							.play-bg
								.play-btn
					.lastvideo-item
						a.magn-vimeo(href="https://vimeo.com/142376051")
							img(src="../../img/film-03.jpg", alt="")
							.play-bg
								.play-btn
				a.btn.popup_content(href="#") Хочу сниматься