//- .socbtn
	| Мы в сети:

.socbtn-box
	//- a.socbtn-item(href='#', target='_blank')
		img(src='./../../img/icons/social/vk.svg', alt='')
	a.socbtn-item(href='#', target='_blank')
		img(src='./../../img/icons/social/instagram.svg', alt='')
	//- a.socbtn-item(href='#', target='_blank')
		img(src='./../../img/icons/social/facebook.svg', alt='')
	//- a.socbtn-item(href='#', target='_blank')
		img(src='./../../img/icons/social/odnoklassniki.svg', alt='')
